table,
th,
tr,
td {
    border: 1px solid rgb(138, 131, 131);
}

td {
    min-width: 120px;
    width: 100%;
}

.table-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-button {
    border: none;
    background: #da7373;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    height: 30px;
}

.sunday {
    background-color: lightgreen;
}

th {
    background-color: lightgrey;
}